<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
 video {
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
   margin-left: 0;
   width: 100%;
 }
 </style>
<body>


<div id="video" class="container">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

      <video autoplay loop muted poster="screenshot.jpg" id="background">
          <source src="http://newimgcdn.lecake.com/web/images/home/home_video_1.mp4" type="video/mp4">
      </video>
    </div>

<div class="container text-center">
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1ffwr9n9jtwj30zk0zkaf3.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffvpafgpa8j30zk0zkgvx.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1ffwrcajjddj30zk0zk7c7.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>
    </div>
  </div>
</div><br>

<div class="container text-center">
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffwri3vp7ej30zk0zk12a.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1ffwrioa7btj30zk0zkad8.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ffwrk2z0k2j30zk0zk0zg.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>
    </div>
  </div>
</div><br>

 <div class="row">
  <div class="col-sm-4">
    <p class="text-center"><strong>Name</strong></p><br>
    <a href="#demo" data-toggle="collapse">
      <img src="http://www.u-sin2011.com/upload/images/配送服務標題(2).JPG" class="img-circle person" alt="Random Name">
    </a>
    <div id="demo" class="collapse">
      <p>Guitarist and Lead Vocalist</p>
      <p>Loves long walks on the beach</p>
      <p>Member since 1988</p>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center"><strong>Name</strong></p><br>
    <a href="#demo2" data-toggle="collapse">
      <img src="http://www.hblian.com/data/files/store_411/goods_165/small_201703031412458108.jpeg" class="img-circle person" alt="Random Name">
    </a>
    <div id="demo2" class="collapse">
      <p>Drummer</p>
      <p>Loves drummin'</p>
      <p>Member since 1988</p>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center"><strong>Name</strong></p><br>
    <a href="#demo3" data-toggle="collapse">
      <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ffxtfo7yc5j307i07hmxd.jpg" class="img-circle person" alt="Random Name">
    </a>
    <div id="demo3" class="collapse">
      <p>Bass player</p>
      <p>Loves math</p>
      <p>Member since 2005</p>
    </div>
  </div>
</div>

</body>
</html>
