<!DOCTYPE html>

<html>

<style>
body {
    font-family: 'Noto Sans SC', sans-serif;
    /* google思源黑简作为主字体 */
    color: #864a13;
    /* 修改全站的字体主色 压低亮度 */
}

 video {
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
   margin-left: 0;
   width: 100%;
 }

 div.media {
   background: url("https://ws3.sinaimg.cn/large/006tNbRwgy1fgbx5kexarj30zg0scqv5.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   padding: 50px 0 0 0;
   height: 616px;
 }

 div.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px #666;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
div.hero h1 {
    font-size: 4em;
    font-weight: 500;
    margin: 10px;
    padding: 0;
}


     div.col-sm-4 {
         margin: 20px;
         border: 1px solid #ccc;
         float: center;
         width: 350px;
         background-color: white;
         color: #864a13;

     }


     div.col-sm-4:hover {
         border: 2px solid #777;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         transition: all ease-in-out 0.45s;/*--延迟0。45s出现的响应式按扭阴影---*/
     }

     div.col-sm-4 img {
         width: 100%;
         height: auto;
     }

     div.media {
         width: 1100px;
         border: 5px solid #777;
         float: center;
         padding: 10px;
     }


     div.col-md-4{
       margin: 100px, 300px, 100px, 300px;
       padding: 50px;
       float: center;
       width: 350px;
     }

     #footer {
           background-color: rgba(119, 13, 13, 0.2);
           padding: 16px 10px 6px;
           text-align: center;
           font-size: 12px;
           color: black;
           margin-bottom: -90px;
       }

       .footer span {
           display: inline-block;
           margin-left: 5px;
           margin-right: 5px;
           height: 24px;
           line-height: 23px;
         }
 </style>
<body>


<div id="video" class="container">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

      <video autoplay loop muted poster="screenshot.jpg" id="background">
          <source src="http://newimgcdn.lecake.com/web/images/home/home_video_1.mp4" type="video/mp4">
      </video>
    </div>

<div class="container media">
  <div class="hero row">
                  <h1>人生苦短</h1><br>
                  <h1>多吃甜品</h1><br>
            </div>
</div><br>


<div class="container text-center ">
  <h2>慕斯罐</h2><br>
  <div class="row">
    <div class="col-sm-4">
      <a target="_blank" href="#">
      <img src="http://ww4.sinaimg.cn/large/006tNc79gy1fg0cfabwdxj30i00dodrh.jpg" class="img-responsive" style="width:100%" alt="Image">
    </a>
    <div class="desc">
      <h4>伯爵</h4>
      <p>伯爵茶奶盖慕斯</p>
      <p>制作工艺复杂限量出售</p>
    </div>
    </div>
    <div class="col-sm-4">
      <a target="_blank" href="#">
      <img src="http://ww4.sinaimg.cn/large/006tNc79gy1fg0cjth5inj30hu0dgds9.jpg" class="img-responsive" style="width:100%" alt="Image">
    </a>
    <div class="desc">
      <h4>精灵</h4>
      <p>酸奶乳酪慕斯</p>
      <p>野莓青柠清爽搭配</p>
      </div>
    </div>
    <div class="col-sm-4">
      <a target="_blank" href="#">
      <img src="http://ww4.sinaimg.cn/large/006tNc79gy1fg0cl65wm5j30i40dedrr.jpg" class="img-responsive" style="width:100%" alt="Image">
    </a>
    <div class="desc">
      <h4>布朗</h4>
      <p>栗子慕斯</p>
      <p>榛巧浓心巧克力脆饼香酥口感</p>
      </div>
    </div>
  </div>
</div><br>

<div class="container text-center">
  <h2>盒子蛋糕</h2><br>
  <div class="row">
    <div class="col-sm-4 col-xs-6">
      <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg0d2mthkzj30j60f6wld.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>肉松大盛</h4>
      <p>酥脆海苔肉松混合奶黄沙拉酱</p>
      <p>吃惯甜的来点咸的</p>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg0d36kcnlj30j40fgdnf.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>开心果蛋糕</h4>
      <p>感受奶油的香滑和蛋糕的绵软</p>
      <p>再来开心果特有的鲜香慢慢扩散</p>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg0d7ondk3j30j80eygrw.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>焦糖海盐爆谷米</h4>
      <p>海盐的轻咸搭配焦糖的香甜</p>
      <p>加入巧克力爆谷米让味蕾感受不寻常的体验</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-6">
      <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg0d4gsijpj30j60eqq9m.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>金椰布蕾</h4>
      <p>匠心调制椰香馥郁的奶油</p>
      <p>香滑q弹的椰奶冻夹层</p>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg0d4xo36ij30j40f8gst.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>巧克力戚风</h4>
      <p>老牌网红！买过的人都知道！</p>
      <p>好吃到爆！不解释！</p>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg0d5s15mlj30jc0fan4n.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>榛果摩卡</h4>
      <p>巧克力蛋糕搭配醇香咖啡奶油</p>
      <p>微苦却有回味的成熟味道</p>
    </div>
  </div>
</div><br>


<div class="container text-center">
  <h2>芝士类</h2><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://ww3.sinaimg.cn/large/006tNc79gy1fg0cpw3jx7j30jc0fg45p.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>酥芝心</h4>
      <p>百利甜芝心芝士搭配乳脂鲜奶</p>
      <p>裹上香脆酥片</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww4.sinaimg.cn/large/006tNc79gy1fg0cssge8dj30j00fc45l.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>奥利奥芝士条</h4>
      <p>香浓绵软芝士和奥利奥</p>
      <p>黑白分明最经典</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg0ct32utsj30j80fa44w.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>榴莲芝士条</h4>
      <p>进口奶酪</p>
      <p>糅合新鲜榴莲果肉</p>
    </div>
  </div>
</div><br>

<div class="container text-center">
  <h2>千层雪及奶酪包</h2><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg0cximddzj30ja0fin2h.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>芒果千层</h4>
      <p>德国萨克森鲜奶，法国铁塔爱乐薇奶油</p>
      <p>新鲜大块广西芒果，裹入嫩滑可丽饼，享受！</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg0cxslzftj30je0fcdm1.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>榴莲千层</h4>
      <p>德国萨克森鲜奶，法国铁塔爱乐薇奶油</p>
      <p>新鲜泰国金枕头榴莲肉，裹入嫩滑可丽饼，享受！</p>
    </div>
    <div class="col-sm-4">
      <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1fg21lekkfaj30yo0rk77r.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>经典奶酪面包</h4>
      <p>整只4块</p>
      <p>一只我不用解释的面包〜</p>
    </div>
  </div>
</div><br>

<div class="container text-center">
  <h3>生日蛋糕定制</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg0dyrf0k9j30zk0zkad8.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>你出主题</h4>
    </div>
    <div class="col-sm-4">
      <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fgd0bwh8u3j30qd0qh7b7.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>我来设计</h4>
    </div>
    <div class="col-sm-4">
      <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg0dzt3j2yj30zk0zk12a.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h4>惊喜！！！</h4>
    </div>
  </div>
</div><br>

<div class="container service-time">
 <div class="row">
   <h2 class="text-center">工商服务时间</h2>
  <div class="col-md-4 text-center">
    <h4><strong>配送服务</strong></h4><br>
      <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple122/v4/1f/b4/f6/1fb4f63d-180f-dca4-886a-8bdd153f910b/source/256x256bb.jpg"  class="img-circle" >
      <p>每天下午送货，单位地址下班前送到</p>
      <p>请保持下午电话畅通，家中有人</p>
      <p>不接急单，勿催！</p>
      <p>非外卖，不包送上楼，烦请下楼领取</p>
      <p>路线规划不同，不确定具体到货时间</p>
  </div>

  <div class="col-md-4 text-center">
    <h4><strong>食材保证</strong></h4><br>
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg21hqyajoj307006udg0.jpg"  class="img-circle" alt="Random Name">
      <p>纯手工制作</p>
      <p>进口顶级原料</p>
      <p>绝不使用添加剂</p>
  </div>

  <div class="col-md-4 text-center">
    <h4><strong>会员优惠</strong></h4><br>
      <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1fg21k1n5e4j306x072415.jpg" class="img-circle" alt="Random Name">
      <p>充800远即可成为本店会员</p>
      <p>免费赠送盒子蛋糕一次</p>
      <p>享受一次生日蛋糕8.8折优惠</p>
      <p>享受限量甜品优先品尝</p>
  </div>
</div>
</div><br>

<div class="row">
  <div id="footer">
    <p>关于我们 <span>|</span> 帮助中心 <span>|</span> 诚聘司机 <span>|</span> 联系我们 <span>|</span> 友情链接</p>
    <p>Copyright ©2017 猫伊工坊 Design by 杨茜 李婉</p>
  </div>
</div>

</body>

</html>
