<div class="container about ">
  <div class="row">
    <div class="col-md-8">
      <h1>购买须知</h1>
      <p>
        手作原味无添加，新鲜直送甜品店<br /><br />

        店主拍照渣～P图技能渣～懒得滴牛B～产品也不花哨～<br />
        反正任性的就是好吃！食材品质安全放心，进口顶级原料，绝不使用添加剂。<br />
        送货时间:通常都是下午送货<br /><br />

        送货标准:二环内满98元起送，二环外三环内部分地区满158元起送，三环外地区两盒顺丰包邮。<br />
        外地顺丰到付，两盒优惠8元运费。<br /><br />

        自家开车送货，为保证时效，避免浪费时间在找楼栋上，烦请下楼领取。<br /><br />


        上门自提满98元可优惠一个8元。<br />
        自提地址，汉口香港路中华城。<br />
        地铁3.6号G 出口直达。<br />
      </p>
    </div>

    <div class="col-md-4 start">
     <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgbvpec96yj30hs0v0go6.jpg" class="img-responsive" style="width:100%" alt="Image">
     <br />
      <%= link_to("开始下单吧！",products_path, class: "btn btn-lg a1") %>
    </div>

  </div>

</div>
