/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url( 'https://fonts.googleapis.com/earlyaccess/notosanssc.css'); //引入google思源黑简在线字体 需要使用VPN才可生效
/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    // google思源黑简作为主字体
    color: #864a13;
    // 修改全站的字体主色 压低亮度
}

body {
    background: url("https://ak5.picdn.net/shutterstock/videos/21151192/thumb/1.jpg");
    //使用 iPic这个软件即可将图片转换为图片超链接，app store 搜索 iPic 即可
    background-size: cover;
    //这段代码主要实现了图片不会被拉伸变现的效果，具体细则在我发布的另一个教程中有说明
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px 0 0 0;
}


/* search-id */
#search-id {
    width: 200px;
    padding-top: 7px;
}


 .navbar-fixed-top {
         top: 0px;
     }

 .navbar-fixed-top, .navbar-fixed-bottom {
         position: fixed;
         top: 0px;
         right: 0;
         left: 0;
         z-index: 1030;
     }

 html {
        position: relative;
        min-height: 100%;
      }

  /* search-id */
  #search-id {
  width: 200px;
  padding-top: 7px;

}

div.about {
    height: 800px;
  p{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2;
}
}

.start{
  padding-top:30px;

  .a1{
    width:200px;
    color:white;
    weight:10;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
    background:rgba(215,40,45,1);
  }
  .a1:hover{
    background: rgba(210,38,40 ,1);
  }
}

.footer {
    background-color: rgba(119, 13, 13, 0.2);
    padding: 16px 10px 6px;
    text-align: center;
    font-size: 12px;
    color: black;
}

.footer span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 24px;
    line-height: 23px;
  }

.main {
  margin-bottom: 70px;
}

//------尝试footer置地
#well {
  margin-bottom: 500px;
}

//------购物车页轮播图
#new-cart{
  margin: 400px, 400px, 400px, 400px;
}

/*商品多个图片信息*/
.show-frame{
  width:90%;
  margin:20px auto 20px;
}
.show-nav{
  margin-left: 15px;
  a:hover{
    color:green;
  }
}
.show-card{
  background:rgb(250,246,246);
  width:100%;
  margin-bottom:20px;
  padding-bottom:20px;
  border:1px solid #ddd;
}
.show-picture {
  margin-top:30px;
  div:first-of-type{
  }
}

.show-photo-xsmall-box{
  height:80px;
  width:400px;
  li>a:first-of-type{

  }

}

.show-photo-xsmall-box.nav-tabs {
  // border: none;
  margin-top: 15px; }

.show-photo-xsmall-box.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.show-photo-xsmall-box.nav-tabs li img {
  // max-width: 100%;
  // display: block;
  // border: 1px solid #ddd;
}
.show-photo-xsmall-box.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.show-photo-xsmall-box.nav-tabs li:last-of-type {
  margin-right: 0;
}

.show-service{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border-top: 1px dotted #dedede;
  border-bottom: 1px dotted #dedede;
  p.price{
    span.rmb{
      color: #d7282d;
      margin-left: 20px;
    }
    span.price{
      color: #d7282d;
      font-size: 30px;
    }
  }
  p.service{
    span.service-detail{
      margin-left: 20px;
    }
  }
}

.show-action{
  padding-top:30px;

  .a1{
    width:200px;
    color:white;
    weight:10;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
    background:rgba(215,40,45,1);
  }
  .a1:hover{
    background: rgba(210,38,40 ,1);
  }
}

.review-description{
  margin:20px auto;
  width:400px;
  .review-p1{
    margin-bottom:20px;
  }
  .review-p2{
    margin-bottom:20px;
  }
}
