<div class="content">
  <h3>您的最爱</h3>
  <% if @products.blank? %>
    <div class="text-center">
      亲！没有符合搜索条件的美食哦！<br>
      <%= link_to("立即查看美食", products_path, class: "btn btn-sm btn-success") %>
    </div>
  <% else %>
    <div class="table">
      <tbody>
        <% @products.each do |product| %>
        <div><%= product.title %></div>
        <% end %>
      </tbody>
    </div>
    <div class="text-center">
      <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
